# Port Configuration for Micro-Frontends
# Port numbers can be changed here to reconfigure the entire platform

SHELL_PORT=8000
APP_REACT_PORT=8001
APP_NEXTJS_PORT=8002
APP_VUE_PORT=8003
APP_SVELTE_PORT=8004
APP_SOLIDJS_PORT=8005

# Suppress Vite CJS deprecation warning from Remix 2.x
# See: https://github.com/remix-run/remix/discussions/7632
VITE_CJS_IGNORE_WARNING=true

# Standalone mode flag for MFE apps
# Set to 'true' to run an MFE app independently (not loaded by shell)
# When true, the app will mount itself to #root or #app element in index.html
# Default: not set (MFE mode - app will be loaded by shell)
VITE_STANDALONE=false

